<?xml version='1.0' encoding='utf-8'?>
<widget id="com.turningdigital.moodbeam" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Moodbeam</name>
    <description>
        Share a beam of light with someone.
    </description>
    <author email="ttosi519@gmail.com" href="http://turningdigital.com">
        Turning Digital Consulting
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
